<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Our Page</title>
</head>
<body>
	<section>
		<h1>Our Page</h1>
		<p>Our page is working!</p>
		<p>Still in development</p>
		<p><a href="https://github.com/fallibilism">Github</a></p>
		<p><a href="https://www.facebook.com/fallibilism">Facebook</a></p>
		<p></p><a href="https://www.instagram.com/fallibilism">Instagram</a></p>
		<p><a href="/info">Info</a></p>
	</section>
</body>
</html>